.header__link {
	color: white;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
	text-decoration: none;
	background-color: inherit;
	border: 0;
}

.header__link:hover {
	opacity: 0.6;
}