.profile__avatar-container {
	background-color: black;
	background-image: url(../../../images/pencil-button.svg);
	background-position: center;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px;
	border-radius: 100px;
}