.profile__button {
    background-image: url(../../../images/Add\ Button.svg);
    background-size: contain;
    min-width: 150px;
    height: 50px;
    border: 0;
    background-color: currentColor;
    cursor: pointer;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .profile__button {
        background-image: url(../../../images/Add\ ButtonBig.svg);
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
}

.profile__button:hover {
    opacity: 0.6;
}